<div class="container">

  <table class="table" ng-show="ctrl.foundItems.length>0">
    <thead>
      <th scope="col">Name</td>
      <th scope="col">Short Name</td>
      <th scope="col">Description</td>
      <th scope="col">Actions</td>
    </thead>
    <tbody>
      <tr ng-repeat="item in ctrl.foundItems">
        <td>{{ item.name }}</td>
        <td>{{ item.short_name }}</td>
        <td>{{ item.description }}</td>
        <td>
          <button class="btn btn-danger" ng-click="ctrl.onRemove({itemIndex: $index})">
            Don't want this one!
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="alert alert-danger" ng-show="ctrl.isListEmpty()">Nothing found!</div>
